body { 
   margin-left: 30%; 
   margin-right: 10%; 
   margin-top: 1%;
   font-family: Helvetica, sans-serif; 
/*   font-size: 100%; */
   color: #566573;
}


/* colors */
h1 { 
   color: #C70039 ;   /* maroon */
/*   color: #006600;   green */
   margin-bottom: 1em;
   font-family: cursive;
   font-size: 70px;
   text-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h2 {
    color:   #1a5276  ; /* blue */
    margin-bottom: 1em;
    font-family: Georgia, serif;
}

h3 {
    color:   #21618c  ;
    margin-bottom: 1em;
}

a:link {
   text-decoration: none; 
   color: olive; 
} 
a:hover {color: #FFCC33; font-weight: bold}

/* color: #2222AA;} */ /* navy blue */

/* *********************************************************/
/* Menu */
/* *********************************************************/
div.menu {
  position: fixed;
  top: 0em;
  left: 2em;
  right: auto;
  margin: 1em;
/*  border: 1px, solid, red; */
  width: 8em; 
}

/* Don't display heading */
div.menu  h2 {
  display: none;
}

div.menu  li {
    margin-left: -1.5em;
  padding: 0.3em 0.4em;
  font-family: Arial, sans-serif;
  list-style: none;
  font-size: 110%;
  font-weight: bold;
  line-height: 1.1; 
  text-align: left; 

}

div.menu li  a:link { 
   text-decoration: none; 
   color: #CC0033; } /* maroon */

div.menu li a:hover { 
   background: white; 
   color: #FFCC33; }



/* *********************************************************/
/* SubMenu */
/* *********************************************************/
div.sub-menu {
  position: fixed;
  top: 24em;
  left: 2em;
  right: auto;
  margin: 0;
/*  border: 1px, solid, red; */
  width: 16em; 
}

/* Don't display heading */
div.sub-menu  h2 {
  display: none;
}

div.sub-menu  li {
  margin-left: -1.5em; 
  padding: 0.3em 0.4em;
  font-family: Arial, sans-serif;
  list-style: none;
  font-size: 110%;
  font-weight: bold;
  line-height: 1.1; 
  text-align: left; 

}

div.sub-menu li  a:link { 
   text-decoration: none; 
   color: #CC0033; } /* maroon */

div.sub-menu li a:hover { 
   background: white; 
   color: #FFCC33; }


/* *********************************************************/
/* Announcements */
/* *********************************************************/
div.announcements {
	background-color: Lavender;
}

div.announcements h2 {
/*	color: maroon; */
	display: none; 
	
}
	
div.announcement {
  margin-left: 2em; 
  margin-right: 2em;
/*  border:2px solid blue; */
  color: DarkRed; 
/*  font-family: 'Gloria Hallelujah', cursive; */
}

div.announcements ol li a:link { 
   text-decoration: none; 
   color: navy; 
} 

div.announcements ol li a:hover { 
   background: white; 
   color: purple; 
}



/* *********************************************************/
/* Main */
/* *********************************************************/

div.main  h2 {
  display: none;
}

/*******************************************************/
/* posts */
/*******************************************************/

div.posts {
    border-radius: 20px;
    border: none;
    box-shadow: 0 10px 16px rgba(0,0,0,0.2);
    padding: 20px;
    margin: 10px;
    font-family: comic-sans;
    background-color: whitesmoke
}

div.posts h2{
    font-family: brush-script;
    font-weight: bold;
    color:  #b9770e ;
}

/************************************/
/* Tags */
/************************************/
div.posts.tags {
    border: none;
    border-radius: 20px;
    padding: 8px;
    margin: 3px;
}


/* *********************************************************/
/* Postamble */
/* *********************************************************/
#postamble {
  font-size: 80%;
}

.postamble span[class="source-file-name"] {
   color: green;
}

.postamble span[class="date"] {
   color: brown;
}

div.content {
  margin-left: 15%;
  margin-right: 5%;
  font-size: 150% /*larger*/;
/*  line-height: 1.1; 
  text-align: center; */
}



#bibliography {
 display: none;
}

dd {
	margin-bottom: 1em;
}
/* Collapsible lists could be useful for open/close blackboard

http://bernholdtech.blogspot.de/2013/04/very-simple-pure-css-collapsible-list.html 


Also, 

http://www.cssportal.com/css3-preview/showing-and-hiding-content-with-pure-css3.htm

*/
